.appear{
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    animation-name: appear;
}
.content .title{
    animation-duration: 1s;
    animation-name: appear;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: scale(0.4);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.content .dis{
    animation-name: left;  
    animation-duration: 1s;
}
@keyframes left{
    from{
        opacity: 0.4;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}